src/test/resources/user.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT guard:user (system?,user+,quarantine?)>
<!ATTLIST guard:user xmlns:guard CDATA #FIXED "http://snow4young.org/">

<!ELEMENT system (property*)>

<!ELEMENT user (property+)>
<!ATTLIST user name NMTOKEN #REQUIRED>

<!ELEMENT quarantine (whitehost*)>
<!ELEMENT whitehost (host*)>
<!ELEMENT host (property*)>
<!ATTLIST host
        host CDATA #REQUIRED
        user CDATA #REQUIRED
>

<!ELEMENT property ANY>
<!ATTLIST property name NMTOKEN #REQUIRED>